version: '3.4'

# this docker configuation is for dev use only

services:
  nginx-development:
    image: ${DOCKER_USERNAME}/${DC_PREFIX}-nginx-development:${APP_VERSION}
    build:
      context: ${NGINX}
      target: development
      dockerfile: Dockerfile
      args:
        app_name: ${APP}
        app_ver: ${APP_VERSION}
    container_name: ${DC_PREFIX}-nginx-development
    depends_on:
      - frontend-development
    environment:
      - APP_NAME
      - API_PATH
      - FRONTEND_DEV_HOST
      - FRONTEND_DEV_PORT
      - BACKEND_PORT
      - BACKEND_HOST
      - API_USER_LIMIT_RATE
      - API_DOWNLOAD_LIMIT_RATE
      - API_USER_BURST
      - API_USER_SCOPE
      - API_GLOBAL_LIMIT_RATE
      - API_GLOBAL_BURST
    volumes:
      - ${NGINX}/default-dev.template:/etc/nginx/conf.d/default.template
      - ${NGINX}/nginx-dev.template:/etc/nginx/nginx.template
    ports:
      - ${PORT}:80
    restart: always

  frontend-development:
    build:
      context: ${FRONTEND}
      dockerfile: Dockerfile
      target: development
      args:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: ${no_proxy}
        npm_registry: ${NPM_REGISTRY}
        sass_registry: ${SASS_REGISTRY}
        MIRROR_DEBIAN: ${MIRROR_DEBIAN}
        app_path: /${APP_NAME}
        app_name: ${APP_NAME}
        app_ver: ${APP_VERSION}
        NPM_FIX: ${NPM_FIX}
        NPM_LATEST: ${NPM_LATEST}
        NPM_GIT: ${NPM_GIT}
        NPM_VERBOSE: ${NPM_VERBOSE}
        FRONTEND_DEV_PORT: ${FRONTEND_DEV_PORT}
    image: ${DOCKER_USERNAME}/${DC_PREFIX}-frontend-development:${APP_VERSION}
    container_name: ${DC_PREFIX}-frontend-development
    environment:
      APP: ${APP_NAME}
    volumes:
      - ${FRONTEND}/package.json:/${APP_NAME}/package.json
      - ${FRONTEND}/src:/${APP_NAME}/src
      - ${FRONTEND}/babel.config.js:/${APP_NAME}/babel.config.js
      - ${FRONTEND}/vue.config.js:/${APP_NAME}/vue.config.js
      - ${FRONTEND}/.editorconfig:/${APP_NAME}/.editorconfig
      - ${FRONTEND}/public:/${APP_NAME}/public

networks:
  default:
    external:
      name: ${DC_NETWORK}
